@import '.././core/Functions.scss';
@import '.././core/Variables.scss';
@import '.././core/Mixins.scss';

.footer {
  width: 100%;
  height: rem(50);
  padding: rem(5);
  &__span {
    font-size: rem(22);
    font-weight: 600;
    color: $brown1;
    text-shadow: 0 0 rem(3) $yellow3;
    &--link {
      color: $dark;
      &:hover {
        color: $blue1;
      }
    }
  }
}
