@import '.././core/Functions.scss';
@import '.././core/Variables.scss';
@import '.././core/Mixins.scss';

.header {
  @include flexCenter {
    flex-direction: column;
  }
  color: $yellow3;
  &__title {
    display: none;
  }
  &__img {
    width: rem(300);
    margin: rem(10);
    @include tablet {
      width: rem(350);
      margin: rem(30);
    }
  }
}
