@import '.././core/Functions.scss';
@import '.././core/Variables.scss';
@import '.././core/Mixins.scss';

.notAvailable {
  margin: rem(10);
  padding: rem(10);
  border-radius: rem(20);
  border: $dark solid rem(5);
  color: $brown1;
  background-color: $pink1;
  text-align: left;
  transition: $trans-ease;
  width: rem(400);
  height: rem(500);
  background-image: url('../.././images/cards/404-card-mobile.png');
  background-repeat: no-repeat;
  background-size: rem(450);
  background-position: center;

  @include tablet {
    width: rem(700);
    height: rem(400);
    background-image: url('../.././images/cards/404-card-desktop.png');
    background-size: rem(700);
  }
  &__img {
    border-radius: rem(10);
  }
  &__span {
    @include flexCenter;
    width: rem(40);
    height: rem(40);
    background-color: $pink1;
    border-radius: 50%;
    border: $pink1 solid rem(5);
    padding: 0 rem(5);
    position: relative;
    left: 97%;
    transition: $trans-ease;
    &:hover {
      transform: scale(1.1);
      color: $green3;
      background-color: $dark;
      border: $dark solid rem(5);
    }
    &--close {
      padding: rem(5);
      font-size: rem(24);
      font-weight: bold;
      color: $dark;
      transition: $trans-ease;
      &:hover {
        transform: scale(1.1);
        color: $green3;
      }
    }
  }
}
