@import '.././core/Functions.scss';
@import '.././core/Variables.scss';
@import '.././core/Mixins.scss';

.notFound {
  background-color: $pink1;
  border-radius: rem(10);
  border: $dark rem(5) solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: rem(10);
  @include tablet {
    justify-content: center;
  }
  &__text {
    color: $dark;
    font-weight: bold;
    font-size: rem(20);
    margin: rem(5);
    &--search {
      color: $blue2;
    }
    @include tablet {
      font-size: rem(24);
    }
  }
  &__img {
    height: rem(150);
    background-color: $pink3;
    border-radius: rem(10);
    margin: rem(5);
  }
}
