@import '.././core/Functions.scss';
@import '.././core/Variables.scss';
@import '.././core/Mixins.scss';

.card {
  cursor: pointer;
  width: rem(150);
  height: rem(300);
  margin: rem(10);
  padding: rem(5);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr rem(150) 0.5fr;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  border-radius: rem(10);
  border: $yellow3 solid rem(5);
  color: $brown1;
  text-align: center;
  background-color: $green4;
  transition: $trans-ease;
  @include tablet {
    width: rem(200);
  }
  &:hover {
    transform: scale(1.05);
    border: $yellow3 solid rem(5);
    background-color: $green1;
  }
  &__img {
    width: rem(130);
    border-radius: rem(10);
    grid-row: 2/3;
    justify-self: center;
  }
  &__name {
    font-size: rem(20);
    padding: rem(10);
    grid-row: 1/2;
    align-self: center;
  }
  &__text {
    &--species {
      font-size: rem(18);
      padding: rem(10);
      grid-row: 3/4;
    }
  }
  &__icon {
    &--species {
      color: $dark;
      font-size: rem(22);
    }
    &--status {
      color: $dark;
      width: rem(20);
    }
  }
}
