@import '.././core/Functions.scss';
@import '.././core/Variables.scss';
@import '.././core/Mixins.scss';

.detail {
  width: rem(250);
  padding: rem(5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: rem(10);
  border: $dark solid rem(5);
  color: $dark;
  background-color: $pink1;
  transition: $trans-ease;
  @include tablet {
    width: max-content;
    padding: rem(20);
    display: grid;
    grid-template-columns: rem(150) auto;
    grid-template-rows: repeat(6, rem(36));
    grid-auto-rows: auto;
    grid-auto-columns: auto;
  }
  &__bold {
    font-weight: bold;
  }
  &__lower {
    text-transform: lowercase;
  }
  &__name {
    @include flexCenter {
      flex-direction: column;
    }
    font-size: rem(22);
    padding: rem(5) rem(10);
    width: 100%;
    @include tablet {
      display: inline;
      font-size: rem(26);
      grid-column: 1/3;
      grid-row: 1/2;
      align-self: flex-end;
      border-bottom: $dark rem(2) solid;
    }
  }
  &__text {
    &--status,
    &--species,
    &--gender,
    &--origin,
    &--location,
    &--episodes {
      width: 100%;
      font-size: rem(18);
      padding-top: rem(10);
      @include tablet {
        text-align: left;
        padding-left: rem(10);
        font-size: rem(20);
      }
    }
    @include tablet {
      &--species {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      &--status {
        grid-column: 2/3;
        grid-row: 3/4;
      }
      &--origin {
        grid-column: 2/3;
        grid-row: 4/5;
      }
      &--location {
        grid-column: 2/3;
        grid-row: 5/6;
      }
      &--episodes {
        grid-column: 2/3;
        grid-row: 6/7;
      }
    }
  }
  &__span {
    @include flexCenter;
    width: rem(40);
    height: rem(40);
    background-color: $pink1;
    border-radius: 50%;
    border: $dark solid rem(5);
    position: relative;
    left: 100%;
    transition: $trans-ease;
    &:hover {
      color: $green3;
      background-color: $dark;
      border: $green3 solid rem(5);
    }
    &--close {
      padding: rem(10);
      font-size: rem(24);
      color: $dark;
      transition: $trans-ease;
      &:hover {
        color: $green3;
      }
    }
  }
}

// image transition:
.detail__img--parent {
  width: rem(130);
  height: rem(130);
  margin-top: rem(10);
  border-radius: rem(10);
  overflow: hidden;
  align-self: center;
  justify-self: center;
  @include tablet {
    width: rem(150);
    height: rem(150);
    grid-column: 1 / 2;
    grid-row: 3/6;
  }
}
.detail__img--child {
  width: 100%;
  width: 100%;
  background: fixed;
  transition: $trans-ease;
}
.detail__img--parent:hover .detail__img--child,
.detail__img--parent:focus .detail__img--child {
  transform: translateY(rem(10)) scale(1.2);
}
.detail__img--parent:hover .detail__img--child:before,
.detail__img--parent:focus .detail__img--child:before {
  display: block;
}
