@import '.././core/Functions.scss';
@import '.././core/Variables.scss';
@import '.././core/Mixins.scss';

.detail {
  width: rem(250);
  padding: rem(5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: rem(10);
  border: $dark solid rem(5);
  color: $dark;
  background-color: $pink1;
  text-align: left;
  transition: $trans-ease;
  @include tablet {
    width: max-content;
    display: grid;
    grid-template-columns: rem(150) auto;
    grid-template-rows: repeat(6, rem(36));
    grid-auto-rows: auto;
    grid-auto-columns: auto;
  }
  &__bold {
    text-align: center;
    font-weight: bold;
    @include tablet {
      text-align: left;
    }
  }
  &__lower {
    text-align: center;
    text-transform: lowercase;
    @include tablet {
      text-align: left;
    }
  }
  &__img {
    &--parent {
      align-self: center;
      justify-self: center;
      @include tablet {
        grid-column: 1 / 2;
        grid-row: 1/6;
      }
    }
    &--child {
      width: rem(130);
      border-radius: rem(10);
      background: fixed;
      // &:hover {
      //   transform: scale(1.1);
      // }
    }
  }
  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: rem(22);
    text-align: center;
    padding: rem(5) rem(10);
    width: 100%;
    @include tablet {
      display: inline;
      grid-column: 2/3;
      grid-row: 1/2;
      text-align: left;
      align-self: flex-end;
      border-bottom: $dark rem(2) solid;
    }
  }
  &__text {
    &--origin,
    &--location {
      text-align: center;
    }
    &--status,
    &--species,
    &--origin,
    &--location,
    &--episodes {
      width: 100%;
      font-size: rem(18);
      padding-top: rem(10);
      text-align: center;
      @include tablet {
        text-align: left;
        padding-left: rem(10);
      }
    }
    @include tablet {
      &--species {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      &--status {
        grid-column: 2/3;
        grid-row: 3/4;
      }
      &--origin {
        grid-column: 2/3;
        grid-row: 4/5;
        text-align: left;
      }
      &--location {
        grid-column: 2/3;
        grid-row: 5/6;
        text-align: left;
      }
      &--episodes {
        grid-column: 2/3;
        grid-row: 6/7;
      }
    }
  }
  &__span {
    @include flexCenter;
    width: rem(40);
    height: rem(40);
    background-color: $pink1;
    border-radius: 50%;
    border: $dark solid rem(5);
    padding: 0 rem(5);
    position: relative;
    left: 97%;
    transition: $trans-ease;
    &:hover {
      transform: scale(1.1);
      color: $green3;
      background-color: $dark;
      border: $green3 solid rem(5);
    }
    &--close {
      padding: rem(5);
      font-size: rem(24);
      font-weight: bold;
      color: $dark;
      transition: $trans-ease;
      &:hover {
        transform: scale(1.1);
        color: $green3;
      }
    }
  }
}
