@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.card {
  cursor: pointer;
  margin: rem(10);
  padding: rem(10);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr rem(150) 0.5fr;
  border-radius: rem(20);
  border: $yellow3 solid rem(5);
  color: $cork;
  text-align: center;
  background-color: $green4;
  transition: $trans-ease;
  &:hover {
    transform: scale(1.05);
    border: $yellow3 solid rem(5);
    background-color: $green1;
  }
  &__img {
    width: rem(130);
    border-radius: rem(25);
    grid-row: 2/3;
    margin: auto;
  }
  &__name {
    font-size: rem(20);
    padding: rem(10);
    grid-row: 1/2;
    border-bottom: $cork rem(2) solid;
  }
  &__text {
    &--species {
      font-size: rem(16);
      padding: rem(10);
      grid-row: 3/4;
    }
  }
  &__icon--species {
    color: $dark;
  }
  &__icon--status {
    color: $dark;
    width: rem(20);
  }
}
