@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.detail {
  margin: rem(10);
  padding: rem(10);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6, rem(36));
  border-radius: rem(20);
  border: $dark solid rem(5);
  color: $dark;
  background-color: $pink1;
  text-align: left;
  transition: $trans-ease;
  &__bold {
    font-weight: bold;
  }
  &__lower {
    text-transform: lowercase;
  }
  &__img {
    &--parent {
      grid-column: 1 / 2;
      grid-row: 2/6;
      align-self: center;
      justify-self: center;
    }
    &--child {
      width: rem(130);
      border-radius: 30%;
      background: fixed;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__name {
    font-size: rem(20);
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    padding: rem(5) rem(10);
    border-bottom: $dark rem(2) solid;
  }
  &__text {
    &--species {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    &--status {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    &--origin {
      grid-column: 2/3;
      grid-row: 4/5;
    }
    &--location {
      grid-column: 2/3;
      grid-row: 5/6;
    }
    &--episodes {
      grid-column: 2/3;
      grid-row: 6/7;
    }
    &--status,
    &--species,
    &--origin,
    &--location,
    &--episodes {
      font-size: rem(16);
      padding-top: rem(10);
      padding-left: rem(10);
    }
  }
  &__span {
    @include flexCenter;
    width: rem(40);
    height: rem(40);
    background-color: $pink1;
    border-radius: 50%;
    border: $dark solid rem(5);
    padding: 0 rem(5);
    position: relative;
    left: 97%;
    transition: $trans-ease;
    &:hover {
      transform: scale(1.1);
      color: $green3;
      background-color: $dark;
      border: $green3 solid rem(5);
    }
    &--close {
      padding: rem(5);
      font-size: rem(24);
      font-weight: bold;
      color: $dark;
      transition: $trans-ease;
      &:hover {
        transform: scale(1.1);
        color: $green3;
      }
    }
  }
}
