@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.card {
  cursor: pointer;
  margin: rem(10);
  padding: rem(10);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  border-radius: rem(20);
  border: white solid rem(10);
  color: #163f4b;
  text-align: center;
  background-color: #9dd4e4;
  transition: transform 0.5s linear, background-color 0.5s linear, color 0.5s linear;
  &:hover {
    transform: scale(1.05);
    background-color: #61dafb;
    color: #282c34;
  }
  &__img {
    width: rem(130);
    border-radius: 30%;
    grid-row: 2/3;
    margin: auto;
  }
  &__name {
    font-size: rem(20);
    padding: rem(10);
    grid-row: 1/2;
  }
  &__text {
    &--species {
      font-size: rem(16);
      padding: rem(10);
      grid-row: 3/4;
    }
  }
}
