@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: rem(18);
  &__item {
    font-size: rem(14);
  }
}
