@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
  &__item {
    font-size: 14px;
  }
}
