@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.filter {
  width: rem(500);
  margin: rem(20) auto;
  background-color: $c2;
  padding: rem(10);
  border-radius: rem(20);
  border: $c8 solid rem(5);
  color: $c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: max-content;
  &__title {
    font-size: rem(20);
    margin: rem(5);
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: rem(5);
    &--input {
      width: rem(150);
      height: rem(40);
      border-radius: rem(10);
      margin: rem(5);
      border: none;
      cursor: pointer;
      &:hover {
        background-color: $c5;
      }
    }
    &--label {
      text-align: left;
      font-size: 18px;
      margin: rem(5);
    }
    &--item {
      cursor: pointer;
      border-radius: rem(10);
      border: none;
      width: 150px;
      height: 40px;
      &:hover {
        background-color: $c5;
      }
    }
    &--cities {
      display: flex;
      flex-direction: column;
    }
  }
}
