@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.filter {
  background-color: $green1;
  margin: rem(10);
  padding: rem(10);
  border-radius: rem(20);
  border: $yellow3 solid rem(5);
  color: $yellow3;
  height: max-content;
  @include flexCenter {
    flex-direction: column;
  }
  &__container {
    display: flex;
  }
  &__title {
    font-size: rem(24);
    margin: rem(5);
    border-bottom: $yellow3 rem(2) solid;
  }
  &__list {
    @include flexCenter {
      flex-direction: column;
    }
    margin: rem(5);
    &--input {
      cursor: pointer;
      padding: rem(10);
      width: rem(150);
      height: rem(40);
      border-radius: rem(10);
      margin: rem(5);
      border: none;
      transition: $trans-ease;
      &:hover {
        background-color: $blue1;
        &::placeholder {
          color: transparent;
        }
      }
      &::placeholder {
        color: $blue1;
        transition: $trans-ease;
      }
      &:focus::placeholder {
        color: transparent;
      }
      &--option {
        color: $green1;
      }
    }
    &--label {
      text-align: left;
      font-size: 18px;
      margin: rem(5);
    }
    &--item {
      cursor: pointer;
      border-radius: rem(10);
      border: none;
      width: 150px;
      height: 40px;
      &:hover {
        background-color: $green4;
      }
    }
    &--cities {
      display: flex;
      flex-direction: column;
    }
  }
}
