@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.filter {
  &__container {
    display: flex;
  }
  width: rem(500);
  margin: rem(20) auto;
  background-color: $c2;
  padding: rem(10);
  border-radius: rem(20);
  border: $c8 solid rem(5);
  color: $c8;
  @include flexCenter {
    flex-direction: column;
  }
  width: min-content;
  height: max-content;
  &__title {
    font-size: rem(24);
    margin: rem(5);
    border-bottom: $c8 rem(2) solid;
  }
  &__list {
    @include flexCenter {
      flex-direction: column;
    }
    margin: rem(5);
    &--input {
      cursor: pointer;
      padding: rem(10);
      width: rem(150);
      height: rem(40);
      border-radius: rem(10);
      margin: rem(5);
      border: none;
      transition: background-color 0.8s linear;
      &:hover {
        background-color: $c5;
      }
    }
    &--label {
      text-align: left;
      font-size: 18px;
      margin: rem(5);
    }
    &--item {
      cursor: pointer;
      border-radius: rem(10);
      border: none;
      width: 150px;
      height: 40px;
      &:hover {
        background-color: $c5;
      }
    }
    &--cities {
      display: flex;
      flex-direction: column;
    }
  }
}
