@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.footer {
  width: 100%;
  height: rem(50);
  padding: rem(5);
  @include flexCenter;
  &__span {
    font-size: rem(22);
    font-weight: 600;
    color: $brown1;
    &--link {
      color: $brown1;
      &:hover {
        color: $dark;
        border-bottom: $dark rem(2) solid;
      }
    }
  }
}
