@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.footer {
  font-size: rem(24);
  width: 100%;
  height: rem(50);
  padding: rem(5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &__span {
    font-size: rem(18);
    font-weight: 600;
    color: $cork;
    &--link {
      color: $cork;
      &:hover {
        color: $c1;
        border-bottom: $c1 rem(2) solid;
      }
    }
  }
}

.fly-in-bottom {
  animation: flyinBottom 1.2s ease-in;
}
@keyframes flyinBottom {
  0% {
    transform: translatey(rem(1000));
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
