@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.header {
  &__title {
    display: none;
  }
  &__img {
    width: rem(450);
    margin: rem(20);
  }
}
