@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.notFound {
  background-color: $pink1;
  border-radius: rem(15);
  border: $dark rem(5) solid;
  width: rem(500);
  height: rem(400);
  @include flexCenter {
    flex-direction: column;
  }
  &__text {
    color: $dark;
    font-weight: bold;
    font-size: rem(28);
    margin: rem(10);
    padding: rem(10);
  }
  &__img {
    width: rem(250);
    background-color: $pink3;
    border-radius: rem(15);
    margin-bottom: rem(20);
  }
}
