@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.reset {
  margin: rem(10);
  align-self: flex-end;
  background-color: $green1;
  width: rem(50);
  height: rem(50);
  border-radius: 50%;
  border: $yellow3 rem(5) solid;
  cursor: pointer;
  transition: $trans-ease;
  &:hover {
    background-color: $blue2;
    border: $dark rem(5) solid;
    transform: scale(1.1);
  }
  &__icon {
    padding: rem(8);
    color: $yellow3;
    font-size: rem(24);
    transition: $trans-ease;
    &:hover {
      color: $dark;
    }
  }
}
