@import './core/Functions.scss';
@import './core/Variables.scss';
@import './core/Mixins.scss';

.reset {
  margin: rem(10);
  align-self: flex-end;
  background-color: $c2;
  width: rem(50);
  height: rem(50);
  border-radius: 50%;
  border: $c8 rem(5) solid;
  cursor: pointer;
  transition: all linear 0.8s;
  &:hover {
    background-color: $c1;
    border: $c4 rem(5) solid;
    transform: scale(1.1);
  }
  &__icon {
    padding: rem(8);
    color: $c8;
    font-size: rem(24);
    transition: all linear 0.5s;
    &:hover {
      color: $c4;
    }
  }
}
