@import '.././core/Functions.scss';
@import '.././core/Variables.scss';
@import '.././core/Mixins.scss';

.arrows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $dark;
  background-color: $blue2;
  border: $dark rem(5) solid;
  border-radius: rem(10);
  width: rem(300);
  height: rem(46);
  @include tablet {
    width: max-content;
    eight: rem(50);
  }
  &__containerL,
  &__containerR {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include tablet {
      margin-right: rem(30);
      margin-left: rem(30);
    }
  }
  &__containerL {
    &:hover {
      animation: toTheLeft 1s 2;
    }
  }
  &__containerR {
    &:hover {
      animation: toTheRight 1s 2;
    }
  }
  &__prev,
  &__next {
    cursor: pointer;
    font-size: rem(16);
    padding: rem(3);
    @include tablet {
      font-size: rem(30);
      padding: rem(10);
    }
  }
  &__text {
    font-size: rem(16);
    margin: rem(3);
    @include tablet {
      font-size: rem(22);
      margin: rem(10);
    }
  }
  &__counter {
    font-size: rem(18);
    @include tablet {
      font-size: rem(22);
    }
  }
}

@keyframes toTheLeft {
  0% {
    transform: translateX(-15px);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes toTheRight {
  0% {
    transform: translateX(15px);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
