@import '.././core/Functions.scss';
@import '.././core/Variables.scss';
@import '.././core/Mixins.scss';

.filter {
  background-color: $green1;
  margin: 0 rem(10);
  padding: rem(5);
  border-radius: rem(10);
  border: $yellow3 solid rem(5);
  color: $yellow3;
  @include tablet {
    height: max-content;
    @include flexCenter {
      flex-direction: column;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: rem(400);
    @include tablet {
      max-width: rem(1100);
    }
  }
  &__title {
    font-size: rem(28);
    margin: rem(5);
    padding-bottom: rem(5);
    border-bottom: $yellow3 rem(2) solid;
    @include tablet {
      width: 100%;
    }
  }
  &__list {
    @include flexCenter {
      flex-direction: column;
    }
    margin: rem(5);
    &--input {
      cursor: pointer;
      font-size: rem(16);
      padding-left: rem(5);
      width: rem(80);
      height: rem(30);
      border-radius: rem(10);
      margin: rem(5);
      border: none;
      transition: $trans-ease;
      &:hover {
        background-color: $blue2;
      }
      &::placeholder {
        transition: $trans-ease;
      }
      &:focus::placeholder {
        color: transparent;
      }
      &--option {
        color: $green1;
      }
      @include tablet {
        width: rem(100);
        height: rem(40);
      }
    }
    &--label {
      text-align: left;
      font-size: rem(22);
      margin: rem(5);
    }
    &--item {
      cursor: pointer;
      border-radius: rem(10);
      border: none;
      width: 150px;
      height: 40px;
      &:hover {
        background-color: $green4;
      }
    }
    &--cities {
      display: flex;
      flex-direction: column;
    }
    &--radio {
      padding: rem(20);
      cursor: pointer;
      &-icon {
        font-size: rem(20);
        padding: rem(5);
      }
    }
  }
}
