// fonts
$main-font-text: 'Rubik', sans-serif;
$defaultFontSize: 16;

// palettes
$pink1: #e89ac7;
$pink2: #e4a788;
$pink3: #f6f9f3;

$yellow1: #f0e14a;
$yellow2: #e5ec2e;
$yellow3: #ece58f;

$cork: #44281d;

$blue1: #02afc5;
$blue2: #72cefa;
$blue3: #02424c;

$green1: #448a32;
$green2: #6fc41c;
$green3: #9ecb0e;
$green4: #92c752;

$dark: #303055;

$grey: #b5c1c3;

// transitions
$trans-ease: all 0.8s ease;
