// fonts
$main-font-text: 'Patrick Hand', sans-serif;
$secondary-font-text: 'Rubik', sans-serif;
$defaultFontSize: 16;

// palettes
$pink1: #e89ac7;
$pink2: #e4a788;
$pink3: #f6f9f3;

$yellow1: #f0e14a;
$yellow2: #fcfa63;
$yellow3: #ece58f;

$brown1: #44281d;
$brown2: #8c501b;

$blue1: #02424c;
$blue2: #02afc5;
$blue3: #72cefa;
$blue4: #a9d5e8;

$green1: #448a32;
$green2: #6fc41c;
$green3: #9ecb0e;
$green4: #92c752;

$dark: #303055;

$grey: #b5c1c3;

// transitions
$trans-ease: all 0.8s ease;
